{% extends 'base.html' %}

{% block content %}

<h2>{{ product.name }}</h2>
<p>Current Price: ₹ {{ product.current_price }}</p>

<div class="mb-3">
    <a href="?range=1h" class="btn btn-outline-primary {% if selected_range == '1h' %}active{% endif %}">1 Hour</a>
    <a href="?range=1d" class="btn btn-outline-primary {% if selected_range == '1d' %}active{% endif %}">1 Day</a>
    <a href="?range=1m" class="btn btn-outline-primary {% if selected_range == '1m' %}active{% endif %}">1 Month</a>
</div>

<canvas id="priceChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('priceChart').getContext('2d');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ dates|safe }},
            datasets: [{
                label: 'Price',
                data: {{ prices|safe }},
                borderColor: 'blue',
                fill: false
            }]
        }
    });
</script>

{% endblock %}